$margin: 10px;

.clicker-area-container {
  max-width: 80%;
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clicker-area-click {
  min-width: 290px;
  width: calc(70% - $margin);
  height: 70%;
  margin: $margin;
  border-radius: 12px;
  -webkit-box-shadow: 3px 4px 32px 14px rgba(0,0,0,0.71); 
  box-shadow: 3px 4px 32px 14px rgba(0,0,0,0.71);
}

.mob-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background
  background-image: url('../../../../public/images/clickerArea.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

